.recipe-item-link {
    text-decoration: none;
}

.recipe-item-title {
    font-size: 20px;
    /*
    color: #057D00;
    */
}

/*
.recipe-item-title:hover {
    color: #07B500;
}
*/

.recipe-item-by {
    font-size: 13px;
    font-style: italic;
    margin-top: 3px;
}

.recipe-item-author {
    text-decoration: none;
    font-size: 17px;
    color: #AC9400;
    /*
    font-style: italic;
    */
}

/*
.recipe-item-author:hover {
    color: #CCAF00;
}
*/